@use '../../styles/variables' as v;

.root {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sectionLeft {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sectionRight {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 1rem;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
}

.name {
    color: v.$white-color;
    font-weight: 600;
    font-size: 1.25rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon {
    height: 1.75rem;
    width: 1.75rem;
}

.line {
    height: 0.25rem;
    width: 1.75rem;
    background: transparent;
    position: absolute;
    top: 3.125rem;
    border-radius: 0.25rem;
}

.path {
    background: v.$primary-color;
}

@media screen and (max-width : 414px) {
    .root {
        height: 6rem;
    }

    .line {
        top: 4.25rem;
    }
}