@use '../../styles/variables' as v;

.root {
    border: 0.125rem solid v.$primary-color;
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: auto 2rem;
}

.input {
    border: none;
    height: 2rem;
    width: 17.5rem;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem 0 0 0.25rem;
    color: v.$white-color;
}

.input::placeholder {
    color: v.$white-color;
    font-size: 0.875rem;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width : 414px) {
    .input {
        height: 3rem;
        width: 100%;
        font-size: 1rem;
    }

    .input::placeholder {
        font-size: 1rem;
    }
}
