@use './variables' as v;

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.noData {
    height: 88vh;
    width: 10rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noText {
    font-size: 2rem;
    font-weight: 700;
    color: v.$white-color;
    margin: 0 0 1rem 0;
}

.noButton {
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.data {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 3rem;
    padding: 2rem;
    min-height: 21rem;
}

.dataOne {
    grid-template-columns: auto !important;
}

.loading {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 414px) {
    .data {
        grid-template-columns: auto;
        gap: 3rem 0;
    }

    .noData {
        text-align: center;
    }

    .noText {
        font-size: 1.75rem;
    }
}